<div style="max-width: 400px; margin: 0 auto;">
	<div class="x_panel">
		<div class="x_titler">
			<h3>Change Password</h3>
		</div>
		<div class="x_content" ng-controller="homeController">
			<form role="form" name="changedPasswordForm" novalidate
				ng-submit="changedPasswordForm.$valid && changePassword(changedPasswordForm)">
				<div class="form-group has-feedback has-feedback-left">
					<label>Enter your current password</label> <input type="password"
						class="form-control"
						placeholder="please enter your current password" minlength="6"
						ng-model="user.Status.Password" name="password" required /> <i
						class="form-control-feedback glyphicon glyphicon-lock"></i>
				</div>
				<div class="text-danger paddingTB0"
					ng-messages="changedPasswordForm.password.$touched && changedPasswordForm.password.$error"
					ng-if="changedPasswordForm.password.$touched || changedPasswordForm.$submitted">
					<div ng-messages-include="views/messages.html"></div>
				</div>
				<div class="form-group has-feedback has-feedback-left">
					<label>Enter your new password</label> <input type="password"
						class="form-control" placeholder="please enter your new password"
						minlength="6" ng-model="user.Status.NewPassword"
						name="newPassword" required /> <i
						class="form-control-feedback glyphicon glyphicon-refresh"></i>
				</div>
				<div class="text-danger paddingTB0"
					ng-messages="changedPasswordForm.password.$error"
					ng-if="changedPasswordForm.newPassword.$touched || changedPasswordForm.$submitted">
					<div ng-messages-include="views/messages.html"></div>
				</div>
				<div class="form-group has-feedback has-feedback-left">
					<label>Enter your confirm password</label> <input type="password"
						class="form-control"
						placeholder="please re-enter confirm  password" minlength="6"
						ng-model="user.Status.ConfirmNewPassword" name="confirmPassword"
						required /> <i
						class="form-control-feedback glyphicon glyphicon-repeat"></i>
				</div>



				<div class="text-danger paddingTB0"
					ng-messages="changedPasswordForm.confirmPassword.$error"
					ng-if="changedPasswordForm.confirmPassword.$touched || changedPasswordForm.$submitted">
					<div ng-messages-include="views/messages.html"></div>
				</div>

				<div class="cls"></div>
				<div class="{{changePasswordType}}">
					<img src="{{changePasswordimg}}" /> {{changePasswordMsg}} &nbsp
				</div>
				<div class="buttonholder">
					<div class="buttonholder text-center">
						<input type="submit" class="btn btn-primary" name="submit"
							value="Change Password" class="btn loginButton loginClick" />
					</div>
				</div>
			</form>


		</div>
	</div>
</div>

