
<div class="col-lg-12 pad0 pannelWrapper" ng-controller="AdminDashboardCtrl">
	<div class="contanerWrapper">
		<h5 class="pageTitle">District Work Report</h5>

		<div class="row">
			<!--user pannel Start-->
			<div class="formContent" id="exportable">
				
				<table  class="producttable">
				<tr><td colspan="2"><h4>DSP Weekly CSC Report till{{theTime}}</h4></td></tr>
				<tr><td>State</td><td>UTTAR PRADESH</td></tr>
				<tr><td>Name of DSP</td><td>Mr. ABC</td></tr>
				<tr><td>Contact Person</td><td>Mr. ABC</td></tr>
				<tr><td>State Office Address</td><td>Paliwal Building ,Station Road Banda</td></tr>
				<tr><td>E-Mail ID</td><td>info@thenatureworld.in</td></tr>
				<tr><td>Website</td><td>http://www.thenatureworld.in/</td></tr>
				</table>
				<br><br>
				<table class="producttable">
				<tr><td colspan="3"><h4>OVERALL PERFORMANCE</h4></td></tr>
				<tr><td></td><td>Gov Services (G2C)</td><td>Non Gov Services (G2C)</td></tr>
				<tr><td>No of Transactions</td><td>{{ }}</td><td>{{ }}</td></tr>
				<tr><td>No of VLEs</td><td>{{ }}</td><td>{{ }}</td></tr>
				
				</table>
				<br><br>
				
				
				<table class="producttable">
					<tr>
						<td rowspan="2">DISTRICT</td>
						<td rowspan="2">Mandate</td>
						<td rowspan="2">Old CSC</td>
						<td rowspan="2">Total CSCs</td>
						<td colspan="2"">Old CSCs Agreement</td>
						<td colspan="3">New CSCs Agreement</td>
						<td colspan="4">NO. of TRANSACTING VLE</td>
						<td colspan="4">NO. of TRANSACTION</td>
						<td rowspan="2">MSA</td>
					</tr>
					<tr>
						<td class="mtxt">Rural</td>
						<td class="mtxt">Urban</td>
						<td class="mtxt">Rural</td>
						<td class="mtxt">Urban</td>
						<td class="mtxt">Total</td>
						<td class="mtxt">B2C</td>
						<td class="mtxt">G2C Services</td>
						<td class="mtxt">G2C Ration Card</td>
						<td class="mtxt">TOTAL G2C Txn VLE(Unique)</td>
						<td class="mtxt">B2C</td>
						<td class="mtxt">G2C Services</td>
						<td class="mtxt">G2C Ration Card</td>
						<td class="mtxt">TOTAL G2C Transaction</td>

					</tr>
					<tr>
						<td>N/A</td>
						<td>N/A</td>
						<td>N/A</td>
						<td>N/A</td>
						<td>N/A</td>
						<td>N/A</td>
						<td>N/A</td>
						<td>N/A</td>
						<td>N/A</td>
						<td>N/A</td>
						<td>N/A</td>
						<td>N/A</td>
						<td>N/A</td>
						<td>N/A</td>
						<td>N/A</td>
						<td>N/A</td>
						<td>N/A</td>
						<td>Yes</td>
					</tr>
				</table>
			</div>

		</div>
	</div>
</div>