 <div class="body-bg">
 <div class="login" id="loginDiv">
      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content" ng-controller="homeController">
            <form name="loginForm" novalidate
						ng-submit="loginForm.$valid && login.authenticateUser(loginForm)">
              <h1>Login Form</h1>
              <div>
                  <input type="email" class="form-control"
								placeholder="Please enter your email Id" ng-model="user.Email"
								name="email" required />
					<div class="text-danger paddingTB0"
						ng-messages="loginForm.email.$error "
						ng-if="loginForm.email.$touched || loginForm.$submitted">
						<div ng-messages-include="views/messages.html"></div>
					</div>	 
              </div>
              <div>
               <input type="password" class="form-control"
								placeholder="Please enter your password"
								ng-model="user.Status.Password" minlength="6" name="password"
								required />
					<div class="text-danger paddingTB0"
							ng-messages="loginForm.password.$error"
							ng-if="loginForm.password.$touched || loginForm.$submitted">
							<div ng-messages-include="views/messages.html"></div>
						</div>		
								
              </div>
              <div>
                <button type="submit" class="btn pull-left">Login</button>
                <a href="#" class="btn pull-right" ng-click="forgetPasswordDisplay()">Forgot Password</a>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">New to site?
                  <a href="#/createuser" class="to_register"> Create Account </a>
                </p>

                <div class="clearfix"></div>
                <br />

                <div ng-controller="footerController">
                  <h1><i class="fa fa-truck"></i>Tranage</h1>
                  <p>Copyright &copy; {{curreentYear}} Tranage
					Technology & Research Pvt Ltd. All Rights Reserved.</p>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
    </div>
    <div ng-include="'template/forgetpassword.html'"></div>