<div class="col-md-12 col-sm-12 col-xs-12 mrt10">
	<div class="boxContaner">
		<h4>
			Recharge History<small></small>
		</h4>
		<div class="formContent" ng-controller="rechargeHisCtrl">
			<br />

			<h4>
				Filter<small></small>
			</h4>

			<label class="control-label col-md-3 col-sm-3 col-xs-12">Start
				Date<span class="required">*</span>
			</label>

			<div class="col-md-6" ng-controller="DatepickerCtrl">
				<p class="input-group">
					<input type="text" name="startDate" id="startDate"
						class="form-control" uib-datepicker-popup="{{format}}"
						ng-model="StartDate" is-open="popup1.opened"
						datepicker-options="dateOptions" ng-required="true"
						close-text="Close" alt-input-formats="altInputFormats" /> <span
						class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="open1()">
							<i class="glyphicon glyphicon-calendar"></i>
						</button>
					</span>
				</p>
			</div>
			
			
			<br/><br/><br/>

			<label class="control-label col-md-3 col-sm-3 col-xs-12">End
				Date<span class="required">*</span>
			</label>
			<div class="col-md-6" ng-controller="DatepickerCtrl">
				<p class="input-group">
					<input type="text" name="endDate" id="endDate" class="form-control"
						uib-datepicker-popup="{{format}}" ng-model="EndDate"
						is-open="popup1.opened" datepicker-options="dateOptions"
						ng-required="true" close-text="Close"
						alt-input-formats="altInputFormats" /> <span
						class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="open1()">
							<i class="glyphicon glyphicon-calendar"></i>
						</button>
					</span>
				</p>
			</div>

		
			
			 <input type="Button" ng-click="getrechargeHisList()"
				value="Fetch Data" class="btn btn-primary"> <small></small>
				
			<br><br><br>
            <button ng-click="exportData()">Export Data</button> 
            <div  class="formContent"  id="exportable" ng-if="rechargeList">      
			<table class="producttable">
				<tr>
					<td>S.No.</td>
					<td>E-Distric ID</td>
					<td>User Name</td>
					<td>Email</td>
					<td>Amount</td>
					<td>Balance</td>
					<td>Transaction Date</td>
					<td>Transaction ID</td>
				</tr>
				<tr ng-repeat="obj in rechargeList">
					<td>{{$index+1}}</td>
					<td>{{obj[0]}}</td>
					<td>{{obj[1]}} {{obj[2]}}</td>
					<td>{{obj[3]}}</td>
					<td>{{(obj[4]).toFixed(2)}}</td>
					<td>{{(obj[5]).toFixed(2)}}</td>
					<td>{{obj[6] | date: 'dd-MM-yyyy HH:mm'}}</td>
					<td>{{obj[7]}}</td>
				</tr>

			</table>
			</div>
		</div>
	</div>
</div>

</div>

