<div class="col-lg-12 pad0 pannelWrapper" ng-controller="userareaCtrl">
	<div class="boxContaner">
		<h4>
			District Work Report<small></small>
		</h4> 
		<button ng-click="exportData()">Export Data</button>
			<div class="formContent" id="exportable">
				<table class="producttable">
					<tr>
						<td rowspan="2">DISTRICT</td>
						<td rowspan="2">Mandate</td>
						<td rowspan="2">Total CSCs</td>
						<td colspan="3"">Old CSCs Agreement</td>
						<td colspan="3">New CSCs Agreement</td>
						<td colspan="4">NO. of TRANSACTING VLE</td>
						<td colspan="4">NO. of TRANSACTION</td>
						<td rowspan="2">MSA</td>
					</tr>
					<tr>
						<td class="mtxt">Rural</td>
						<td class="mtxt">Urban</td>
						<td class="mtxt">Total</td>
						<td class="mtxt">Rural</td>
						<td class="mtxt">Urban</td>
						<td class="mtxt">Total</td>
						<td class="mtxt">B2C</td>
						<td class="mtxt">G2C Services</td>
						<td class="mtxt">G2C Ration Card</td>
						<td class="mtxt">TOTAL G2C Txn VLE(Unique)</td>
						<td class="mtxt">B2C</td>
						<td class="mtxt">G2C Services</td>
						<td class="mtxt">G2C Ration Card</td>
						<td class="mtxt">TOTAL G2C Transaction</td>
					</tr>
					<tr ng-repeat ="obj in arealist">
						<td>{{obj.Distt}}</td>
						<td>220</td>
						<td>{{obj.OldRural+obj.OldUrban+obj.NewRural+obj.NewUrban}}</td>
						<td>{{obj.OldRural}}</td>
						<td>{{obj.OldUrban}}</td>
						<td>{{obj.OldRural+obj.OldUrban}}</td>
						<td>{{obj.NewRural}}</td>
						<td>{{obj.NewUrban}}</td>
						<td>{{obj.NewRural+obj.NewUrban}}</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>Yes</td>
					</tr>
				</table>
				<br>
				 
	         </div>

		
	</div>
	</div>
